{% extends 'blog/base.html' %}
{% load static %}
{% load webp %}
{% block content %}
<div id="post" class="article mx-auto px-5 py-5 mx-0 my-0 col-lg-8 overflow-hidden">
  <h1 class="fs-1 post-head">{{ object.title }}</h1>
  <div class="d-flex justify-content-end">
    <span class="fs-3 fw-light lh-1">COMPARTIR | </span>
    <amp-social-share
      type="whatsapp"
      data-param-text="encontre este articulo creo quete puede interesar: TITLE - CANONICAL_URL"
    >
    </amp-social-share>
    <amp-social-share type="facebook" aria-label="Share on Facebook" data-param-app_id="1771147716587274"></amp-social-share>
    <amp-social-share type="system" aria-label="Share"></amp-social-share>
  </div>
  <p class="date">{{ object.created_date }}</p>
  <br>
  {{ object.text | safe }}
  <button id="btnsubmenu" class="btn-lg btn btn-info fixed" type="button" data-bs-toggle="offcanvas" data-bs-target="#sub-menu" aria-controls="staticBackdrop">
    + sobre {{ object.page.category }}
  </button>
</div>

<div class="offcanvas offcanvas-end text-bg-dark" data-bs-backdrop="static" tabindex="-1" id="sub-menu" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Articulos relacionados con {{ object.page.category }}</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <nav id="sub-menu" class="bg-dark list-group d-flex flex-column justify-content-around">
        {% for post in object.page.posts.all %}
        <div class="card text-bg-dark" style="width:80%;">
          <amp-img alt="{{ post.title }}"
          width="{{ post.image_cover.width }}"
          layout="responsive" 
          src="/media/{{ post.image_cover | webp }}">
          <amp-img alt="{{ post.title }}"
            fallback
            width="{{ post.image_cover.width }}"
            layout="responsive" 
            src="/media/{{ post.image_cover }}"></amp-img>
          </amp-img>
          <div class="card-img-overlay">
            <p class="card-text"><a href="/blog/{{ post.slug }}" class="btn btn-info list-group-item-action" title="{{ post.title }}">
              {{ post.title }}</a></p>
          </div>
        </div>

          <!--
          <a href="/blog/{{ post.slug }}" class="btn btn-outline-dark list-group-item-action" title="{{ post.title }}">
            <div style="float:left;"><img src="/media/{{ post.image_cover }}"></div>
            {{ post.title }}
          </a>-->
        {% endfor %}
    </nav>
  </div>
</div>
{% endblock %}